img {
    float: right;
    height: 4cm;
    width: 5cm;
    
}

p {
    border: darkblue;
    border-radius: 5%;
    border-style:groove ;
    box-sizing: content-box;
    border-spacing: 5%;
    text-align:start;
    margin-top: 200px;
padding: 3px;;
    color: blueviolet;
    float: right;
    margin: 5%;
}

body{
    background-color: rgb(173, 235, 235);
    }
h2{
    text-align: justify;
    position: relative;
    text-decoration: azure;
    text-align-last: center;
    font-style:oblique
}
 nav{
    
     float:left;
 }       
ul{
    text-align: justify;
    padding: 3px;
margin: 10px;
    background-color: rgb(221, 180, 201);

}
h3{
    text-decoration: rgb(117, 16, 16);
    text-align: left;
    font-style:oblique;
}
li{
    font-style:oblique;
font-family: cursive;
}
a{
    list-style: radial-gradient();
}
div.fixed {
    position: fixed;
top:20px;

    bottom: 0;
    height: 20px;
    right: 0;
    width: 150px;
    border: 3px solid #7f0a9c;;

}